[Unit]
Description=echos
After=network.target

[Service]
User=mrps
ExecStart=/opt/mrps/echos/echos -addr=:42069
Restart=Never
StandardOutput=journal
StandardError=journal
SyslogIdentifier=echos

[Install]
WantedBy=multi-user.target
