[Unit]
Description=echos
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/echos
ExecStart=/opt/echos/echos -addr=:42069 -stunAddr=stun.echos.dyastin.tech:3478 -domain=echos.dyastin.tech -secure
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=echos

[Install]
WantedBy=multi-user.target
